body {
    margin: 0;
}

header {
    display: flex;
}

header div {
    width: 50%;
}

header img {
    width: 130px;
    height: 65px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

header ul li:last-child {
    margin-right: 10%;
}

header ul li {
    font-weight: bold;
    margin-left: 5%;
}

div.content div.home {
    height: 87%;
}

div.content div.home div {
    display: flex
}

div.content div.institutional {
    background: radial-gradient(green, transparent);
    height: 87%;
    display: flex;
}

div.content div.institutional h3 {
    text-align: center;
}

div.content div.institutional div {
    width: 50%;
}

div.content div.contact {
    text-align: center;
}